body{
}

.roboto{
 font-family: 'Roboto', sans-serif;
}

.main{
 background-image: url("../assets/images/background.jpg");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 height: 100vh;
 width: 100vw;
}

.ad-details{
 min-height: 30vh;
 width: 100vw;
 height: auto;
 background-color: rgba(57,82,127,.8);
 position: fixed;
 bottom: 0px;
 color: white;
}

/*.a{
 background-color:aqua;
}*/

hx{
 font-size: 7vh;
}

ul{
 opacity: .8;
}

.ad-details button{
 background-color: #ffd624;
 padding-left: 18vw;
 padding-right: 18vw;
 font-size: 5vh;
 border-radius: 8px;
 border: solid 1px black;
 color: black;
}